<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travel.android.boardMapper">
  	<insert id="Log_inset">
  		insert into board(board_Code, board_Title, board_Content, log_longtitude, log_latitude, share_Type, board_Type_Code, user_id, randomViewY)
  		values (#{board_Code}, #{board_Title},#{board_Content},#{log_longtitude},#{log_latitude},#{share_Type},#{board_Type_Code},#{user_id}, #{randomViewY})
  	</insert>
  	<insert id="hash_Tag_insert">
  		insert into hash_tag(board_Code, hash_Tag_Content)
  		values (#{board_Code}, #{hash_Tag_Content})
  	</insert>
  	<insert id="attachecFile">
  		insert into attached_file(board_Code, file_Content, file_Type)
  		value (#{board_Code}, #{file_Content}, #{file_Type})
  	</insert>
  	<select id="max_board_code" resultType="int">
  		select max(board_Code)
  		from board;
  	</select>
  	<select id="share_Log_List" resultType="boardDTO">
  		select *
  		from board
  		where share_Type = 1
  		ORDER BY board_Date DESC;
  	</select>
  	<select id="share_Log_all_List" resultType="boardLIstDTO">
  		select a.*, b.file_Type, b.file_Content
  		from board a
        LEFT OUTER JOIN attached_file b
        ON a.board_Code = b.board_Code
  		where  a.share_Type = 1 
  		ORDER BY board_Date DESC;
  	</select>
  	<select id="share_Log_search_List" resultType="boardLIstDTO">
  		select a.*, b.file_Type, b.file_Content
  		from hash_tag c, board a
        LEFT OUTER JOIN attached_file b
        ON a.board_Code = b.board_Code
  		where  a.share_Type = 1 and c.board_Code = a.board_Code and c.hash_tag_Content LIKE CONCAT('%',#{hash_tag},'%')
  		ORDER BY board_Date DESC;
  	</select>
  	<select id="share_Log_hash_List" resultType="boardDTO">
  		SELECT a.*
  		FROM board a,hash_tag b
  		WHERE a.board_Code = b.board_Code and b.hash_tag_Content LIKE CONCAT('%',#{hash_tag},'%') and a.share_Type = 1
  		ORDER BY board_Date DESC; 
  	</select>
  		<select id="share_Log_like_List" resultType="boardDTO">
  		select *
  		from board
  		where share_Type = 1
  		ORDER BY like DESC; 
  	</select>
  		<select id="share_Log_Like_hash_List" resultType="boardDTO">
  		SELECT a.*
  		FROM board a,hash_tag b
  		WHERE a.board_Code = b.board_Code and b.hash_tag_Content LIKE CONCAT('%',#{hash_tag},'%') and a.share_Type =1
  		ORDER BY like DESC; 
  	</select>
  	<select id="addFile" resultType="addachedFileDTO">
  		select *
  		from attached_file
  		where board_Code = #{board_code}
  	</select>
</mapper>