<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travel.android.StepMapper">
  	<insert id="step_insert">
  		insert into board (user_id, board_Type_Code) value(#{user_id}, 3)
  	</insert>
  	<select id="user_step" resultType="int">
  		select max(board_code)
  		from board
  		where user_id = #{user_id} and board_Type_Code = 3
  	</select>
  	<update id="update_step">
  		update board set board_Title = #{board_Title}, share_Type = #{share_Type}, step_Log_Code = #{board_code}
  		where board_code = #{board_code} and board_Type_Code = 3
  	</update>
  	<delete id="delete_step">
  		delete from board where board_code = #{step_code}
  	</delete>
</mapper>